# Dependencies
node_modules/
r2-mcp-server/


# Expo caches
.expo/
.expo-shared/
.cursor/

# Environment variables
.env

# Build outputs
dist/
build/
builds/

# IDE files
.idea/
.vscode/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
package-lock.json
*.DS_Store
.env
.env.local
.env.development
.env.development.local
.env.production
.env.production.local
